<!doctype html>
<html leng="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Resdient Added</title>
</head>
<body>
    <!-- <h1>hello <%= name %></h1> -->
    <div 
      style="background-image: url('https://firebasestorage.googleapis.com/v0/b/apartment-erp.appspot.com/o/email_images%2F4.png?alt=media&token=f927eb69-31d1-4b67-a202-e44bd0821bd3');background-size: 100%; width: 100%;"
    >
      <img 
        src="https://firebasestorage.googleapis.com/v0/b/apartment-erp.appspot.com/o/email_images%2FSocus_black.png?alt=media&token=edbebce2-6923-495c-840e-0e972fa494fe" 
        style="width: 200px;display: inline-block;"
      />
      <div
        style="display: inline-block;"
      >
        <h1>Reach us at-</h1>
        #6330, DLF Cyber City,Patia
        <br />
        Bhubaneswar, Odisha - 751024
        <br />
        sales@mysocus.com
        <br />
        www.mysocus.com
      </div>
    </div>
    <div>
      Hi Akash,
      <p>
        MySocus is now live in your apartment Z1.
      </p>
      <p>
        Please click on the button below to register.
      </p>
      <a href="https://www.google.com" target="_blank">
        <button>
          Register
        </button>
      </a>
    </div>
    <div
      style="background-image: url('https://firebasestorage.googleapis.com/v0/b/apartment-erp.appspot.com/o/email_images%2F5.png?alt=media&token=722f1ed3-4a7e-467a-a855-4bb980506d4a'); background-size: 50%;"
    >
      <div style="display: inline-block; width:32%; align-items: center;; align-items: center;">
        <img 
          src="https://firebasestorage.googleapis.com/v0/b/apartment-erp.appspot.com/o/email_images%2FMember%20Mgmt..png?alt=media&token=9609c35a-dd17-434b-9277-70ebbff5c332" 
          style="width:20%;margin: auto;"
        />
      </div>
      <div style="display: inline-block; width:32%; align-items: center;">
        <img 
          src="https://firebasestorage.googleapis.com/v0/b/apartment-erp.appspot.com/o/email_images%2FEmployee%20Mgmt..png?alt=media&token=f15e56f8-0881-4678-8210-7ace04ba8561" 
          style="width:20%;margin: auto;"
        />
      </div>
      <div style="display: inline-block; width:32%; align-items: center;">
        <img 
          src="https://firebasestorage.googleapis.com/v0/b/apartment-erp.appspot.com/o/email_images%2FAccounts%20Mgmt..png?alt=media&token=56059a63-6ef6-4bde-ac81-b4a81b140aa3" 
          style="width:20%;margin: auto;"
        />
      </div>
      <!-- end of row one -->
      <div style="display: inline-block; width:32%; align-items: center;">
        <img 
          src="https://firebasestorage.googleapis.com/v0/b/apartment-erp.appspot.com/o/email_images%2FGatekeeper%20Mgmt..png?alt=media&token=f6e65597-f36b-41ff-84e3-b37a553f426b" 
          style="width:20%;margin: auto;"
        />
      </div>

      <div style="display: inline-block; width:32%; align-items: center;">
        <img 
          src="https://firebasestorage.googleapis.com/v0/b/apartment-erp.appspot.com/o/email_images%2FVendor%20Mgmt..png?alt=media&token=d8a5a386-ea72-42cb-8937-932609e83593" 
          style="width:20%;margin: auto;"
        />
      </div>

      <div style="display: inline-block; width:32%; align-items: center;">
        <img 
          src="https://firebasestorage.googleapis.com/v0/b/apartment-erp.appspot.com/o/email_images%2FAmenities%20Mgmt..png?alt=media&token=d0653e48-b82e-40bd-8ec9-f51f7afac589" 
          style="width:20%;margin: auto;"
        />
      </div>
    </div>
</body>
</html>